<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1 align="center">
liste des étudiants

<table  class="table" align="center" border="1">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Email</th>
   </tr>
   <tr th:each="etudiant : ${mesEtudiants}">
<td th:text="${etudiant.id}"></td>
<td th:text="${etudiant.nom}"></td>
<td th:text="${etudiant.Email}"></td>
</tr>
  </table>


</body>
</html>